.bicycles__link {
    text-decoration: none;
    color: #222222;
    opacity: 0.6;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
}

.bicycles__link:hover {
    color: #151515;
    opacity: 0.75;
}