/* MAIN */

/* LEAD */

/* .lead {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    position: relative;
} */

/* .lead__title {
    max-width: 460px;
    margin: 0;
    margin-top: 80px;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.5px;
    
} */

/* .lead__subtitle {
    max-width: 460px;
    margin: 0;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
} */

/* .lead__button {
    margin: 0;
    margin-top: 50px;
    width: 160px;
    height: 18px;
    background-color: #24B47E;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 16px 10px;
    text-align: center;
} */

/* .lead__button:hover {
    background: linear-gradient(to right, rgba(0,128,0,1) 0%,rgba(0,128,0,1) 100%);
    transition: left 2s;
} */


/* .lead__description {
    display: flex;
    align-items: center;
    margin: 167px 0 209px;
}

.lead__description-main {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.lead__description-line {
    margin: 0;
    margin-left: 30px;
    text-align: end;
    width: 132px;
    height: 2px;
} */

.lead__image {
    position: absolute;
    right: 0;
    top: 20px;
    width: 610px;
    height: 836px;
}

.lead__sticky {
    max-width: 810px;
    max-height: 430px;
    position: absolute;
    top: 347px;
    right: 370px;
}

.lead__image-sticky {
    position: sticky;
}

/* BICYCLES */

.bicycles {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 60px 120px 60px 120px;
}

.bicycles__menu {
    display: flex;
    justify-content: space-between;
}

.bicycles__title {
    margin: 0;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px; 
}

.bicycles__links {
    display: flex;
    padding: 0;
    list-style: none;
}

.bicycles__link {
    text-decoration: none;
    color: #222222;
    opacity: 0.6;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
}

.bicycles__link:hover {
    color: #151515;
    opacity: 0.75;
}

#bicycles__anchor {
    margin-top: -74px;
    display: inline-block;
    position: relative;
    height: 1px;
    width: 1px;
}

.bicycles__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 120px;
    list-style: none;
}

.bicycles__card {
    width: 380px;
    height: 380px;
}

.bicycles__card-link {
    text-decoration: none;
}

.bicycles__image {

}
