.bicycles {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 120px 60px 120px;
}

@media (max-width: 672px) {

    .bicycles {
        max-width: calc(100% - 18px * 2) ;
        margin: 40px auto 40px;
    }

}












