.lead__title {
    max-width: 32.94vw;
    margin: 0;
    margin-top: 5.56vw;
    font-size: 3.82vw;
    font-weight: 700;
    line-height: 4.17vw;
    letter-spacing: -0.5px;  
}

@media (max-width: 320px) {
      
    .lead__title {
        max-width: 284px;
        margin-top: 40px;
        font-size: 32px;
        line-height: 40px;
        order: 1;
    }

}
