.lead__button {
    margin: 0;
    margin-top: 50px;
    width: 160px;
    height: 18px;
    background-color: #24B47E;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 16px 10px;
    text-align: center;
}


