.lead__button {
    margin: 0;
    margin-top: 3.47vw;
    width: 12.50vw;
    height: 3.47vw;
    background-color: #24B47E;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-size: 0.97vw;
    font-weight: 600;
    line-height: 1.25vw;
}

@media (max-width: 320px) {
      
    .lead__button {
        margin: 0;
        margin-top: 40px;
        width: 284px;
        height: 46px;
        font-size: 13px;
        line-height: 19px;
        order: 4;
    }

}