.merks {
    max-width: 450px;
    display: grid;
    grid-template-columns: 45.14vw 32.64vw;
    margin: 8.33vw 120px 0 8.33vw;
    column-gap: 5.56vw;
}

@media  (max-width: 500px) {
    .merks {
        max-width: calc(100% - 18px * 2);
        margin: 20px auto 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
