.highway__subtitle {
    max-width: 460px;
    margin: 0;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    color: #222222;
    opacity: 0.7;
}

@media (max-width: 672px) {
    
    .highway__subtitle {
        max-width: 100%;
        order: 3;
    }

}

@media (max-width: 320px) {
    
    .highway__subtitle {
        margin-top: 40px;
        font-size: 12px;
        line-height: 18px; 
    }

}